# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Others
.env
